.App {
  text-align: center;
  align-items: flex-end;
  font-family: 'New Tegomin', serif;
  
}

.App footer{
  display: inline;
  position: absolute;
  align-items: left;
  text-align: left;
  left: 130px;
  bottom: auto;
  color: purple;
}





