.App {
  text-align: center;
  align-items: flex-end;
  font-family: 'New Tegomin', serif;
}

.App footer{
  display: inline;
  position: relative;
  left: 500px;
  bottom: 300px;
  color: purple;
}

.Weather-form{
  position: absolute;
  right: 50px;
  top: 17px;
}

.form-control{
  margin: 0 5px;
}

.btn{
  border-radius: 5px;
  border-color: lime;
  background-color: purple;
  color: lime;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
.btn:hover{
  border-color: purple;
  background-color: lime;
  color: purple;
  
}

.App-velociraptor{
  width: 50px;
  transform: rotateY(180deg);
  animation: RunVelociraptor infinite 10s linear;
}


@keyframes RunVelociraptor {
  
  from {
    transform: translateX(550px);
  
  }
  to {
    transform: translateX(-550px);
   
  }
}

.App-card{
  align-items: center;
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.App-card-img{
  width: 250px;
  margin: 10px 0;
}