.Forecast {
    border: 1px solid #aacfcf;
    border-radius: 25px;
    margin: 2px;
    color: purple;

}
.Forecast h4{
    font-weight: 900;
}
.data ul{
    list-style: none;
    text-align: center;
}
.current {
    display: inline;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 3px;
}

h2 {
 font-weight: 800;
}