.load h1{
    display: block;
    margin: 0 auto;
    font-size: 200px;
    font-weight: bolder;
    text-align: center;
    align-items: center;
    color: purple;
}

.load-velociraptor{
    position: absolute;
    top: -50px;
    width: 50px;
    animation: RunVelociraptor infinite 5s linear;
  }

  @keyframes RunVelociraptor {
  
    /* 0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1) translateY(-10px); }
    50%  { transform: scale(1,1)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); } */
    from {
      transform: 
      translateX(800px);
    }
    to {
      transform: 
      translateX(-300px);
     
    }
  }