.load h1{
    display: inline;
    margin: 0 auto;
    font-size: 100px;
    font-weight: bolder;
    text-align: center;
    align-items: center;
    color: purple;
}

.load-velociraptor{
    position: absolute;
    top: -50px;
    width: 50px;
    animation: RunVelociraptor infinite 5s linear;
  }

  @keyframes RunVelociraptor {

    from {
      transform: translateX(800px);
    }
    to {
      transform: translateX(-200px);
    }
  }
  
  .load-dilofosauro{
    display: inline;
    width: 90px;
    border-radius: 85%;
    animation: DinaSpin infinite 5s linear;
  }

  @keyframes DinaSpin {
    from{
      transform: rotate(0deg);
    }to{
      transform: rotate(360deg);
    }
  }