.load h1{
    display: block;
    margin: 0 auto;
    font-size: 200px;
    font-weight: bolder;
    text-align: center;
    align-items: center;
    color: purple;
}

.load-velociraptor{
    position: absolute;
    top: -50px;
    width: 50px;
    animation: RunVelociraptor infinite 5s linear;
  }

  @keyframes RunVelociraptor {

    from {
      transform: 
      translateX(800px);
    }
    to {
      transform: 
      translateX(-200px);
     
    }
  }