.pic-velociraptor{
    position: absolute;
    top: -50px;
    width: 50px;
    animation: RunVelociraptor infinite 5s linear;
  }

  @keyframes RunVelociraptor {
    from {
      transform: 
      translateX(800px);
    }
    to {
      transform: 
      translateX(-300px);
     
    }
  }

  .picture{
    width: 75%;
    margin: 15px auto;
    border-radius: 10px;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: CityIn 2s 1s linear;
}

@keyframes CityIn {
  from{width: 25px;}
  to{width: 75%;}
  
}

  .left {
    position: relative;
    border-radius: 100px;
    margin: 10px;
    margin-top: 0;
    height: 150px;
}
 
.no-city p{
    font-family: 'New Tegomin', serif;
    color: lime;
    margin-top: 10px;
    margin-bottom: 0 ;
    background-color: purple;
    
    /* margin-top: 10px: */
}