.pic-velociraptor{
    position: absolute;
    top: -50px;
    width: 50px;
    animation: RunVelociraptor infinite 5s linear;
  }
  .picture{
      width: 75%;
      margin: 15px auto;
  }

  @keyframes RunVelociraptor {
    from {
      transform: 
      translateX(800px);
    }
    to {
      transform: 
      translateX(-300px);
     
    }
  }

  .left {
    position: relative;
    border-radius: 100px;
    margin: 10px;
    margin-top: 0;
    height: 150px;
}
 
.no-city p{
    font-family: 'New Tegomin', serif;
    color: lime;
    margin-top: 10px;
    margin-bottom: 0 ;
    background-color: purple;
    
    /* margin-top: 10px: */
}