.App {
  text-align: center;
  align-items: flex-end;
}

.App-logo {
  height: 40px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-title{
  margin-right: 10px;
}

.App-header {
  background-color: purple/*#282c34*/;
  min-height: 50px;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  font-family: 'New Tegomin', serif;
  color: lime;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-velociraptor{
  
  width: 50px;
  transform: rotateY(180deg);
  animation: RunVelociraptor infinite 10s linear;


}


@keyframes RunVelociraptor {
  
  from {
    transform: translateX(550px);
  
  }
  to {
    transform: translateX(-550px);
   
  }
}

.App-card{
  display: block;
  margin: 0 auto;
  text-align: center;
}

.App-card-img{
  width: 250px;
  margin: 10px 0;
}