.App {
  text-align: center;
  align-items: flex-end;
}

.App-logo {
  height: 40px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-title{
  margin-right: 10px;
}

.App-header {
  background-color: purple/*#282c34*/;
  min-height: 50px;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  font-family: 'New Tegomin', serif;
  color: lime;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
